{% load static %}
<html>
  <head>
    <title>Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'admin/css/vendors/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/css/vendors/line-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/css/pages/layout.css' %}" />
    <link rel="icon" href="{% static 'admin/images/covid-19.ico' %}" />
    <script src="{% static 'admin/js/vendors/jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'admin/js/global.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/pages/settings.css' %}" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="card shadow-lg">
        <div class="card-header bg-danger text-white text-center" style="border-radius: 4px;">
          <h3 class="mb-0">Add User</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'my_admin:patient_add' %}">
            {% csrf_token %}
            <div class="row">
              <!-- Left Column -->
                <div class="col-md-6 mt-3">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required />
                </div>
                <div class="form-group">
                  <label for="blood_group">Blood Group</label>
                  <input type="blood_group" class="form-control" id="blood_group" name="blood_group" placeholder="Enter blood group" required />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required />
                </div>
                <div class="form-group">
                  <label for="user-type">User Type</label>
                  <select class="form-control" id="user-type" name="user_type" required>
                    <option value="patient">Patient</option>
                    <option value="doctor">Doctor</option>
                    <option value="admin">Admin</option>
                  </select>
                </div>
              </div>

              <!-- Right Column -->
              <div class="col-md-6 mt-3">
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Enter the Email" required />
                </div>
                <div class="form-group">
                  <label for="Phone">Phone Number</label>
                  <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone number" required />
                </div>
                <div class="form-group">
                  <label for="confirm-password">Confirm Password</label>
                  <input type="password" class="form-control" id="confirm-password" name="confirm_password" placeholder="Confirm password" required />
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-danger mt-4" style="border-radius: 4px;">
              <i class="las la-save"></i> Save Changes
            </button>
            <button type="submit" class="btn btn-danger mt-4" style="border-radius: 4px;" onclick="window.location.href = '{% url 'my_admin:admin_dashboard' %}';">
              <i class="las la-home"></i>Back
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
